<div class="container mt-5 col-md-8">
  <div class="alert alert-primary">
    <h3>{{getName()}}</h3>
  </div>
  <div class="input-group">
    <input type="text" #todoItem (keydown.enter)="addItem(todoItem.value);todoItem.value='';" class="form-control"
      placeholder="Add to checklist" />
    <div class="input-group-append">
      <button (click)="addItem(todoItem.value);todoItem.value='';" class="btn btn-outline-primary" type="submit"
        id="button-addon2">
        Add
      </button>
    </div>
  </div>
  <table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Action</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of getItems(); index as i">
        <th scope="row">{{i+1}}</th>
        <td>
          <div class="custom-control">
            <input type="checkbox" [(ngModel)]="item.status" id="customControlAutosizing" />
          </div>
        </td>
        <td class="" [ngClass]="item.status ? 'b-left completed' : ' '">
          {{ item.todo }}
        </td>
        <td [ngSwitch]="item.status" [ngClass]="item.status ? 'alert alert-success' : 'alert alert-danger '">
          <span *ngSwitchCase="true" class="compl">completed</span>
          <span *ngSwitchCase="false" class="compl">uncompleted</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>